@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600&family=DM+Sans:wght@300;400;500;600&family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/*   Configuração geral da página*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--creme);
    color: var(--texto);
    font-family: "Fredoka", sans-serif;
}

button, 
input,
textarea,
select{
    font-family: "Fredoka", sans-serif;
}

button {
  cursor: pointer;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}