:root {
    --cafe: #3B1F10;
    --magno: #6B3520;
    --cobre: #A05535;
    --caramelo: #D4956A;
    --pessego: #F0DBC8;
    --rosa: #C94C5E;
    --ambar: #F5C84A;
    --creme: #FAF5EE;
    --texto: #3B1F10;
}

